{% extends "base.html" %}
{% block title %}ZarobSi.sk - O nás{% endblock %}
{% block content %}
    <h3 class="text-center p-3">O nás</h3>
    <h4 class="text-center p-2">Tvoriteľ stránky</h4>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card" style="width: 200px;">
            <img src="../static/images/my_logo.png" alt="My profile picture" width="200" class="card-image-top rounded">
            <h4 class="card-title ps-2 pt-2">Dávid</h4>
            <h5 class="card-subtitle ps-2 pb-2 text-secondary">@Stivodavco</h5>
        </div>
    </div>
    <h4 class="text-center mt-5">Cieľ stránky</h4>
    <p class="text-center p-2">Cieľ stránky ZarobSi.sk je sprístupniť poskytovanie zručností a služieb zadarmo, a umožniť zarábanie cez svoje hobby.</p>
    <h4 class="text-center mt-5">Funkcionalita stránky</h4>
    <p class="text-center p-2">ZarobSi.sk poskytuje možnosť prezrieť si ponuky, ak hľadáte nejakú zručnosť alebo službu, vytvoriť ponuku, ak chcete zarábať, a systém hodnotenia a prihlasovania používateľov, aby ste mohli overiť dôveryhodnosť predajcu.</p>
    <div class="d-flex justify-content-center align-items-center">
        <h5 class="ms-5 ps-3 d-inline">Postup na pridanie ponuky:</h5>
        <ol class="ms-5 ps-3 d-inline">
            <li>Prihláste sa, alebo vytvorte si účet ak ho ešte nemáte.</li>
            <li>Stlačte tlačidlo "Pridať ponuku".</li>
            <li>Zadajte detaily o ponuke: názov ponuky, popis, a cenu.</li>
            <li>Stlačte tlačidlo "Pridať ponuku" a máte hotovo!</li>
        </ol>
    </div>

{% endblock %}