{% extends "base.html" %}
{% block title %}ZarobSi.sk - Pou{% endblock %}
{% block content %}
    <h3 class="text-center pt-3">{{ user["name"] }}</h3>
    <h5 class="text-center text-secondary">@{{ user["username"] }}</h5>
    <h5 class="text-center text-black">{{ rating }} <i class="bi bi-star-fill text-warning"></i> <span class="text-body-secondary">({{ reviews_num }})</span></h5>
    <p class="text-center p-3">{{ user["description"] }}</p>
    <h4 class="text-center">Ponuky</h4>
    <div class="container-fluid">
        <div class="row">
            {% for offer in offers %}
                <div class="col d-flex justify-content-center">
                    <div class="card w-auto m-2" style="min-width: 15rem">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ offer["title"] }}</h5>
                        </div>
                        <div class="card-footer">
                            <h6 class="d-inline-block pt-2">Cena: {{ offer["price"] }}€</h6>
                            <a href="/offers/{{ offer["id"] }}" class="float-end btn btn-primary">Pozrieť <i class="bi bi-info"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if offers == [] %}
        <h6 class="text-center p-2">Zatiaľ žiadne ponuky...</h6>
    {% endif %}
    <h4 class="text-center">Recenzie</h4>
    {% for review in reviews %}
        <div class="col d-flex justify-content-center">
            <div class="card w-auto m-2" style="min-width: 15rem">
                <div class="card-body text-center">
                    <h4 class="card-title text-black d-inline">{{ review["rating"] }} <i class="bi bi-star-fill text-warning"></i></h4>
                    <p class="card-body d-inline">{{ review["comment"] }}</p>
                </div>
                <div class="card-footer">
                    <h6 class="d-inline-block pt-2">Poslal uživateľ: <a href="/user/{{ review["sender_id"] }}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">{{ review["user_name"] }}</a></h6>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if reviews == [] %}
        <h6 class="text-center p-2">Zatiaľ žiadne recenzie...</h6>
    {% endif %}
{% endblock %}